@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');


body {
    background: linear-gradient(166.99deg, #240046 0%, #C77DFF 100%);
    color: white;
    font-family: "Helvetica Neue";

    scroll-behavior: smooth;


    --color--88: #10002B;
    --color--78: #240046;
    --color--68: #3C096C;
    --color--58: #5A189A;
    --color--48: #7B2CBF;
    --color--38: #9D4EDD;
    --color--28: #C77DFF;
    --color--18: #E0AAFF;

    padding: 0px 100px 250px 100px;
    position: relative;

}

h1, h2, h3, h4 {
    font-family: "Mukta Mahee";
}

h1 {
    font-size: 80px;
    line-height: 1.1;
    margin: 50px 0 50px 0;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
    line-height: 1.1;
    margin-top: -10px ;
    font-weight: 800;
}

.title {
    padding-bottom: 20px;
}

.title > p {
    font-size: 24px;
    margin-top: -50px;
    font-style: italic;
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.left {
    display: flex;
    flex-direction: column;
}

.lastRocket {
    background-color: var(--color--88);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 20px 30px 40px 20px;
}

.lastRocket > h3 {
    margin: 0.5em 0 0 0;
}

.lastRocket--information {
    margin: 0 !important;
}

.lastRocket--body {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lastRocket--map {
    width: 200px;
    height: 200px;
    background-color: var(--color--18);
    padding: 20px;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border-radius: 20px;
}

.lastRocket--infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 40px;
}

.generalInfos {
    background-color: var(--color--88);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    width: 300px;
    padding: 30px;
    min-height: 70%;
}

.generalInfos > h3 {
    padding-top: 20px;
}

.generalInfos--elem {
    font-size: 20px;
    padding: 10px;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.right {
    margin: 50px 0 0 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-AllRockets {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--color--88);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    font-size: 24px;
    font-weight: 500;
    width: 300px;
    height: 60px;
    padding: 30px;
    transition: 0.3s ease-out;
}

.btn-AllRockets:hover {
    background-color: var(--color--18);
    color: var(--color--88);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.generalInfos--elem--stat {
    display: inline;
    color: var(--color--18);
    font-weight: 600;
}